//gradeTable.jsp and gradeTableEdit.jsp specific styles

.grade-table {
  margin-top: 1em;
}

.grade-table > fieldset {
  max-width: 8em;
  border-radius: 16px;
}

td > input {
  max-width: 8em;
}

form[name="studentEditForm"] {
  display: grid;
}

.btn-delete {
  background-color: $red !important;
  border: 1px solid $red !important;

  &:hover {
    background-color: darken($red, 20) !important;
  }

  &:active {
    background-color: darken($red, 40) !important;
  }
}

table,
th,
td {
  border: 1px solid $black;
  border-radius: 8px;
  background-color: $white;
}

th,
td {
  padding: 8px;
  text-align: center;
}
