//gradeTable.jsp and gradeTableEdit.jsp specific styles

.grade-table {
  margin-top: 1em;
}

table,
th,
td {
  border: 1px solid $black;
  border-radius: 8px;
  background-color: $white;
}

th,
td {
  padding: 8px;
  text-align: center;
}
